#!/usr/bin/make -f

%:
	dh $@

# nothing to compile: the payload is a python package plus two scripts,
# laid out exactly as packaging/build-deb.sh lays it out
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	install -d debian/mx4ctl/usr/lib/mx4ctl/mx4 \
	           debian/mx4ctl/usr/bin \
	           debian/mx4ctl/usr/lib/systemd/user \
	           debian/mx4ctl/usr/lib/udev/rules.d \
	           debian/mx4ctl/usr/share/mx4ctl
	install -m 644 mx4/*.py debian/mx4ctl/usr/lib/mx4ctl/mx4/
	install -m 755 mx4ctl debian/mx4ctl/usr/bin/mx4ctl
	install -m 755 mx4-wizard debian/mx4ctl/usr/bin/mx4-wizard
	install -m 644 config.example.ini debian/mx4ctl/usr/share/mx4ctl/
	install -m 644 packaging/files/mx4ctl.service \
	               packaging/files/mx4ctl-restore.service \
	               debian/mx4ctl/usr/lib/systemd/user/
	install -m 644 packaging/files/42-mx4ctl.rules \
	               debian/mx4ctl/usr/lib/udev/rules.d/
